<html>
    <body>
        <h3>Hi $recipientName, welcome to Euler's Bridge!</h3>

        <div>
        	Please verify your email address $emailAddress by clicking in the following link
        	<a href="http://eulersbridge.com:8080/dbInterface/api/emailVerification/$emailAddress/$verificationToken">VERIFY</a>
        	<br/>
        	or by pasting the url in your browser address bar
        </div>
    </body>
</html>